@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

.bookContainer {
  width: 100%;
  height: 100vh;
  min-width: 900px;
  min-height: 700px;
  background: #fbecb4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
}

.book {
  width: 420px;
  height: 650px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(-10deg);
}

.page {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 0;
  right: 0;
  background-color: #fff;
  transform-origin: left center;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.page.flipped {
  transform: rotateY(-180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.coverFront {
  background: linear-gradient(#afd2dd, #a1d5e5) 50% 50% / 80% 86% no-repeat,
              linear-gradient(#ffffff, #ffffff) 50% 50% / 90% 93% no-repeat,
              linear-gradient(#9bc8d6, #9bc8d6) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.coverFront h1 {
  font-family: 'Lora', serif;
  font-size: 45px;
  color: #134a78;
  margin-top: 30px;
  text-transform: uppercase;
}

.coverFront h2 {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  color: #134a78;
}

.hat {
  font-size: 100px;
  color: #134a78;
}

.content {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  line-height: 1.6;
}

.instruction {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
  font-family: 'EB Garamond', serif;
  color: #0009;
  background: #fff7;
  border-radius: 15px;
  padding: 10px 15px;
}

